Host jumper
  StrictHostKeyChecking=no
  UserKnownHostsFile=/dev/null
  User circleci
  HostName 123.31.32.132
  Port 2323

Host wms-api-dev
  StrictHostKeyChecking=no
  UserKnownHostsFile=/dev/null
  User gitlabci
  HostName 123.31.32.198
  Port 22
  ProxyJump jumper

Host wms-api-test
  StrictHostKeyChecking=no
  UserKnownHostsFile=/dev/null
  User gitlabci
  HostName 123.31.32.200
  Port 22
  ProxyJump jumper

Host wms-api-production
  StrictHostKeyChecking=no
  UserKnownHostsFile=/dev/null
  User gitlabci
  HostName 123.31.32.200
  Port 22
  ProxyJump jumper